<h1>Welcome to the Admin Dashboard!</h1>

<h3>All Applicants</h3>
  <% @users.each do |user| %>
    <ul>
    <li><%= user.retreat_applications.last.personal_info.firstname %>
    <%= user.retreat_applications.last.personal_info.lastname %></li>
    </ul>
  <% end %> 

<h3><%= link_to "Accepted applicants", admins_dashboard_path %></h3>
  <% @retreatapplications.each do |application| %>
    <ul>
    <% if application.status == "accepted" %>
      <li><%= application.personal_info.firstname %>
      <%= application.personal_info.lastname %></li>
    <% end %>
    </ul>
  <% end %> 

<h3><%= link_to "Rejected applicants", admins_dashboard_path %></h3>
  <% @retreatapplications.each do |application| %>
    <ul>
    <% if application.status == "rejected" %>
      <li><%= application.personal_info.firstname %>
      <%= application.personal_info.lastname %></li>
    <% end %>
    </ul>
  <% end %> 

<h3><%= link_to "Pending applicants", admins_dashboard_path %></h3>
  <% @retreatapplications.each do |application| %>
    <ul>
    <% if application.status == "pending" %>
      <li><%= application.personal_info.firstname %>
      <%= application.personal_info.lastname %></li>
    <% end %>
    </ul>
  <% end %> 
Pull up specific applicants names and their information<br />

Change status of application to accepted/rejected <br />

  <%= render partial: "allusers" %>
